/* make box sizing border box work well */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* reset browser margins and paddings, prevent white space from appearing on the right on skinny screens */
* {
    margin: 0;
    padding: 0;
}

html,body {
    overflow-x:hidden;
}

body {
    margin: 0;
}

header, section, main, footer {
    margin-left: 70px;
    margin-right: 70px;
}

header {
    margin-top: 70px;
}

footer {
    margin-bottom: 0px;
    padding-bottom: 70px;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.guide {
    color: hsl(322, 100%, 66%);
    color: hsl(321, 100%, 78%);
    color: hsl(0, 100%, 63%);
    color: hsl(192, 100%, 9%);
    color: hsl(207, 100%, 98%);
    font-family: 'Open Sans', sans-serif; font-weight: 400, 600, 700; /* body */
    font-family: 'Poppins', sans-serif; font-weight: 700; /* headings */
    width: 375px; /* mobile */
    width: 1440px; /* desktop */
}