/* make box sizing border box work well */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* reset browser margins and paddings, prevent white space from appearing on the right on skinny screens */
* {
    margin: 0;
    padding: 0;
}
html,body {
    overflow-x:hidden;
}
body {
    margin: 0;
}
header {
    padding-left: 70px;
    padding-right: 70px;
}

section {
    padding-left: 100px;
    padding-right: 100px;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

header {
    margin-top: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav img {
    width: 200px;
    object-fit: contain;
}

nav button {
    border-radius: 5em;
    width: 130px;
    height: 40px;
    background-color: white;
    color: hsl(322, 100%, 66%);
    border: hsl(322, 100%, 66%) solid 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

nav button:hover {
    color: hsl(322, 100%, 86%);
    border: hsl(322, 100%, 86%) solid 2px;
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    max-width: 930px;
    margin: 200px auto 100px auto;
}

h1 {
    text-align: center;
    font-size: 44px;
    margin: 0 auto 20px auto;
    color: hsl(192, 100%, 9%);
}

.hero p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    max-width: 550px;
    margin: 0 auto 40px auto;
    color: hsl(192, 100%, 9%);
}

.hero button {
    border-radius: 5em;
    width: 360px;
    height: 70px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0 auto 100px auto;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 5px 5px 2px hsla(0, 0%, 0%, 0.1);
}

.hero button:hover, .cta button:hover, footer button:hover {
    background-color: hsl(322, 100%, 86%);
    cursor: pointer;
}

.stats {
    display: flex;
    max-width: 950px;
    margin: 0 auto 70px auto;
    justify-content: space-between;
}

.stats img {
    width: 40px;
}

.communities, .messages {
    max-width: 240px;
}

.bignumber {
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
    text-align: center;
}

.metric {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    color: gray;
}

.left-img {
    margin: 40px 0;
    flex-direction: row-reverse;
}

.left-text {
    background-color: hsl(207, 100%, 98%);
}

.bgspacetop-one {
    background-image: url(./images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    height: 180px;
    background-position: bottom;
}

.bgspacebottom-one {
    background-image: url(./images/bg-section-bottom-desktop-1.svg);
    background-repeat: no-repeat;
    height: 180px;
    background-position: top;
}

.bgspacetop-two {
    background-image: url(./images/bg-section-top-desktop-2.svg);
    background-repeat: no-repeat;
    height: 180px;
    background-position: bottom;
}

.bgspacebottom-two {
    background-image: url(./images/bg-section-bottom-desktop-2.svg);
    background-repeat: no-repeat;
    height: 180px;
    background-position: top;
}

.left-text, .left-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 40px;
}

.text {
    max-width: 450px;
}

.text p {
    font-family: 'Open Sans', sans-serif;
    color: hsl(192, 100%, 9%);
    font-size: 15px;
}

h2 {
    font-size: 36px;
    color: hsl(192, 100%, 9%);
    margin-bottom: 18px;
}

.illustration {
    max-width: 450px;
}

.cta {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta button {
    border-radius: 5em;
    width: 360px;
    height: 70px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 5px 5px 2px hsla(0, 0%, 0%, 0.1);
}

h3 {
    text-align: center;
    font-size: 36px;
    color: hsl(192, 100%, 9%);
    margin-bottom: 40px;
}

.bgfooter {
    height: 200px;
    background-image: url(./images/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.main-footer {
    display: flex;
    justify-content: space-between;
}

.left-footer {
    max-width: 330px;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.7em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
}

.contact img {
    max-width: 20px;
    margin-right: 20px;
    vertical-align: -0.2em;
}

.main-footer {
    background-color: hsl(192, 100%, 9%);
    padding: 100px 100px 60px 100px;
}

.social {
    padding: 0px 100px 70px 100px;
    background-color: hsl(192, 100%, 9%);
}

img[alt="huddle-white-logo"] {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(44deg) brightness(104%) contrast(102%);
    width: 200px;
    object-fit: contain;
    margin-bottom: 20px;
}

footer p, h4, li {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

ion-icon {
    font-size: 32px;
    color: white;
    margin-right: 15px;
}

ion-icon:hover {
    color: rgb(0, 215, 215);
    cursor: pointer;
}

h4 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}

.newsletter {
    max-width: 470px;
}

.newsletter p {
    max-width: 300px;
}

.newsletter input {
    height: 40px;
    width: 280px;
    margin-right: 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    color: hsl(192, 100%, 9%);
}

.newsletter button {
    height: 40px;
    width: 145px;
    background-color: hsl(322, 100%, 66%);
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

/* layout newsletter section of footer on top, mid screens */
@media all and (max-width: 990px) {
    .main-footer {
        flex-direction: column-reverse;
        gap: 100px;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* all layout one column */
@media all and (max-width: 865px) {
    .stats {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 130px;
    }

    .left-img, .left-text {
        flex-direction: column-reverse;
    }

    .text h2, .text p {
        text-align: center;
    }
}

/* layout newsletter button to the right on skinny screens */
@media all and (max-width: 660px) {
    .newsletter button {
        display: block;
        margin-left: auto;
    }
    form {
        max-width: 280px;
    }
}

@media all and (max-width: 570px) {
    nav {
        margin-bottom: 30px;
    }

    nav img {
        width: 130px;
    }

    nav button {
        width: 100px;
        height: 30px;
        font-size: 14px;
        border-width: 1px;
    }

    header, section {
        padding-left: 40px;
        padding-right: 40px;
    }

    h1 {
        font-size: 32px;
    }

    .hero button, .cta button {
        width: 220px;
        height: 50px;
        font-size: 14px;
    }

    h2, h3 {
        font-size: 24px;
    }

    .text p {
        font-size: 14px;
    }

    .illustration {
        max-width: 300px;
    }

}

@media all and (max-width: 470px) {
    .main-footer {
        padding: 100px 30px 60px 30px;
    }

    .social {
        padding: 0px 30px 70px 30px;
    }

    .newsletter p, form {
        max-width: 100%;
    }

    #subscribe {
        width: 100%;
    }
}

@media all and (max-width: 375px) {
    .bgspacetop-one {
        background-image: url(./images/bg-section-top-mobile-1.svg);
    }

    .bgspacebottom-one {
        background-image: url(./images/bg-section-bottom-mobile-1.svg);
    }

    .bgspacetop-two {
        background-image: url(./images/bg-section-top-mobile-2.svg);
    }

    .bgspacebottom-two {
        background-image: url(./images/bg-section-bottom-mobile-2.svg);
    }

    .bgfooter {
        background-image: url(./images/bg-footer-top-mobile.svg);
    }

    .newsletter p {
        max-width: 100%;
    }

    form {
        max-width: 100%;
    }

    .newsletter input {
        width: 100%;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding-bottom: 20px;
}

.attribution a {
    color: white;
}

.guide {
    color: hsl(322, 100%, 66%);
    color: hsl(321, 100%, 78%);
    color: hsl(0, 100%, 63%);
    color: hsl(192, 100%, 9%);
    color: hsl(207, 100%, 98%);
    font-family: 'Open Sans', sans-serif; font-weight: 400, 600, 700; /* body */
    font-family: 'Poppins', sans-serif; font-weight: 700; /* headings */
    width: 375px; /* mobile */
    width: 1440px; /* desktop */
}